* {
        margin: 0px; padding: 0px;
}

body {
        background: white;
}
#canvas {
        width: 500px;
        height: 300px;
        position: center;
        background: red;
}

#circle {
        width: 150px;
        height: 150px;
        background: white;
        border-radius: 75px;
}