* {
        margin: 0px; padding: 0px;
}

body {
        background: white;
}

#canvas {
        width: 500px;
        height: 300px;
        position: center;
        background: red;
}

#canvas2 {
        width: 500px;
        height: 300px;
        position: center;
        background: blue;
        z-index: -1;
}

#star {
        position: absolute;
        left: 100px;
        top: 150px;
}
