body {
    background-color: #FFFFFF;
    background-image: url(http://assets.tumblr.com/images/x.gif?v=1);
    background-attachment: fixed;
    background-repeat: repeat;
}

body, p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    color: #000000;
}

user agent stylesheet
body {
    display: block;
    margin: 8px;
}