
  
  body {
    font-family: futura;
    font-size: 15px;
    line-height: 15px;
    color: navy;
    font-weight: bold;
    font-style: normal;
    position: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
  }