  * {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-family: 'everson mono', 'Spot Mono', 'Courier', monospace;
    font-size: 15px;
    line-height: 18px;
    color: navy;
    font-weight: bold;
    font-style: normal;
    position: center;
    word-spacing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
  }