


@-webkit-keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}

/* Standard syntax */
@keyframes mymove {
  from {background-color: red;}
  to {background-color: darkred;}
}

#DIV {
  width: 150px;
  padding-top: 250px;
  margin: auto;
}

img { width:200px;
 height: 200px; }


body {
  margin:auto;
  background: red;
  -webkit-animation: mymove 10s infinite;
  animation: mymove 5s infinite;
}
