

body {
    background: red;
}
#desktop {
    display: inline;
    color: red;
}
#tablet,
#mobile,
#print {
    display: none;
}
/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
        background: red;
    }
    #tablet {
        display: inline;
        color: red;
    }
    #desktop,
    #mobile,
    #print {
        display: none;

    }
}
/* mobile */
@media (max-width: 670px) {
    body {
        background: red;
    }
    #mobile {
        display: inline;
        color: red;
    }
    #desktop,
    #tablet,
    #print {
        display: none;
    }

    img {
        width: 100%
        height: 100%;
}
/* print */
@media print {
    body {
        background: red;
    }
    #print {
        display: inline;
        color: red;
    }
    #desktop,
    #tablet,
    #mobile {
        display: none;
    }